---
import Video from "../components/Video.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";

const weddingFilenames = [
  ["Mikhail and Sophie", "output_playlist_1.m3u8", "MikhailSophie.png"],
  // ["Johan and Lana", "output_playlist_2.m3u8"],
  ["David and Cassandra", "output_playlist_3.m3u8", "DavidCassandra.png"],
  // ["Allen and Nadia", "output_playlist_4.m3u8", "AllenNadia.png"],
];

const commercialFilenames = [["Londontown", "output_playlist_5.m3u8"]];
---

<MySiteLayout>
  <h2 class="text-xl md:text-3xl font-medium text-center m-4 md:mt-6">
    Wedding Video
  </h2>
  <div class="flex flex-col gap-4 bg-gradient-to-b from-slate-100 to-slate-300">
    {weddingFilenames.map(([title, filename], idx) => (
      <div class="mx-16">
        <div class="text-xl">{title}</div>
        <div class="">
          <Video filename={filename} idx={idx} />
        </div>
      </div>
    ))}
  </div>
</MySiteLayout>

<script>
  const weddingFilenames = [
    ["Mikhail and Sophie", "output_playlist_1.m3u8", "MikhailSophie.png"],
    // ["Johan and Lana", "output_playlist_2.m3u8"],
    ["David and Cassandra", "output_playlist_3.m3u8", "DavidCassandra.png"],
    ["Allen and Nadia", "output_playlist_4.m3u8", "AllenNadia.png"],
  ];

  import videojs from "video.js";
  videojs.options.aspectRatio = "16:9";

  // Add poster images
  weddingFilenames.map(([name, filename, poster], idx) => {
    const player = videojs(`my-video-${idx}`);
    player.src({
      src: `https://d1q5g8n2xcxwh0.cloudfront.net/HLS/${filename}`,
      type: "application/x-mpegURL",
    });
    player.poster(`https://d1q5g8n2xcxwh0.cloudfront.net/Posters/${poster}`);
  });
</script>
