---
import MySiteLayout from "../layouts/MySiteLayout.astro";
const videoStyle = "absolute inset-0 w-full h-full"
---

<MySiteLayout>
  <div class="">
    <h1 class="py-3 text-center text-2xl">Wedding Video</h1>
    <div class="relative mx-3 md:mx-12 lg:m-18" style="padding-top: 56.25%">
      <iframe class={videoStyle} src="https://www.youtube.com/embed/9Z6rKjXMOfY" frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe class={videoStyle} src="https://www.youtube.com/embed/omJSHnvKF94" frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe class={videoStyle} src="https://www.youtube.com/embed/jf--4pyrBZI" frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe class={videoStyle} src="https://www.youtube.com/embed/KisGxeFxgJ0" frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe class={videoStyle} src="https://www.youtube.com/embed/uvqTfdJtKUs" frameborder="0"></iframe>
    </div>
  </div>
</MySiteLayout>