---
import MySiteLayout from "../layouts/MySiteLayout.astro";
const videoStyle = "absolute inset-0 w-full h-full";
---

<MySiteLayout>
  <div>
    <!-- <div class="grid grid-cols-3 grid-rows-3">
      <h2
        class="text-xl z-20 md:text-4xl col-start-1 col-end-2 row-start-1 row-end-2 text-center"
      >
        Wedding Video
      </h2>
      <img
        src="../../engagement_webp/eugene_felina/Copy of 34.webp"
        alt="Woman on a beach"
        class="col-start-1 col-end-4 row-start-1 row-end-4"
        id="hero"
      />
    </div> -->

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe
        class={videoStyle}
        src="https://www.youtube.com/embed/1imoMhbDz2E"
        frameborder="0"></iframe>
    </div>
    <div class="relative mx-3 md:mx-12 lg:m-18" style="padding-top: 56.25%">
      <iframe
        class={videoStyle}
        src="https://www.youtube.com/embed/9Z6rKjXMOfY"
        frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe
        class={videoStyle}
        src="https://www.youtube.com/embed/jf--4pyrBZI"
        frameborder="0"></iframe>
    </div>

    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe
        class={videoStyle}
        src="https://www.youtube.com/embed/KisGxeFxgJ0"
        frameborder="0"></iframe>
    </div>

    <h2 class="text-xl md:text-2xl text-center">Commercial Video</h2>
    <div class="relative m-3 md:m-12 lg:m-18" style="padding-top: 56.25%">
      <iframe
        class={videoStyle}
        src="https://www.youtube.com/embed/xXMw1t2zpF0"
        frameborder="0"></iframe>
    </div>
  </div>
</MySiteLayout>
