---
import MySiteLayout from "../layouts/MySiteLayout.astro";
const imageStyle = "my-2 max-w-xs md:max-w-sm lg:max-w-3xl"
---

<MySiteLayout>
  <div class="flex flex-col bg-gray-300">
    <h1 class="m-3 text-center text-2xl">Engagement Photography</h1>
    <div class="flex flex-col items-center">
      <img src="../../public/engagement_webp/Copy of 1.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 2.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 3.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 1.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 3(1).webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 4.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 2.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 7.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 13.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 15.webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 7(1).webp" alt="" class={imageStyle}/>
      <img src="../../public/engagement_webp/Copy of 9.webp" alt="" class={imageStyle}/>
    </div>
  </div>
</MySiteLayout>
