---
var currentTime = new Date();
const navLiStyle = "text-lg mx-1 md:mx-3 hover:shadow-lg hover:text-xl"
---

<html>

<head>
  <meta charset="utf-8" />
  <title>Ildar Smakov Wedding Photo & Video</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/dist/output.css" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-M2PER38VWR"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M2PER38VWR');
  </script>
</head>

<body class="font-serif">
  <nav class="flex flex-col items-center p-2 shadow-lg animate-fade-in-down md:flex-row md:justify-evenly">
    <div class="flex flex-col md:pl-20">
      <a class="text-xl text-center" href="/">Ildar Smakov</a>
      <p class="text-sm text-gray-700">Professional Wedding Photo & Video</p>
    </div>

    <ul class="flex">
      <li class={navLiStyle}>
        <a href="/photos">Photography</a>
      </li>
      <li class={navLiStyle}>
        <a href="/contact">Contact</a>
      </li>
      <li class={navLiStyle}>
        <a class="flex" href="https://www.youtube.com/user/CinemaArtGroup/videos">
          <svg class="w-6 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" />
          </svg>
          Youtube
        </a>
      </li>
      <li class={navLiStyle}>
        <a class="flex" href="https://vimeo.com/ildarsmakov">
          <svg class="w-5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M403.2 32H44.8C20.1 32 0 52.1 0 76.8v358.4C0 459.9 20.1 480 44.8 480h358.4c24.7 0 44.8-20.1 44.8-44.8V76.8c0-24.7-20.1-44.8-44.8-44.8zM377 180.8c-1.4 31.5-23.4 74.7-66 129.4-44 57.2-81.3 85.8-111.7 85.8-18.9 0-34.8-17.4-47.9-52.3-25.5-93.3-36.4-148-57.4-148-2.4 0-10.9 5.1-25.4 15.2l-15.2-19.6c37.3-32.8 72.9-69.2 95.2-71.2 25.2-2.4 40.7 14.8 46.5 51.7 20.7 131.2 29.9 151 67.6 91.6 13.5-21.4 20.8-37.7 21.8-48.9 3.5-33.2-25.9-30.9-45.8-22.4 15.9-52.1 46.3-77.4 91.2-76 33.3.9 49 22.5 47.1 64.7z" />
          </svg>
          Vimeo</a>
      </li>
    </ul>
  </nav>
  <main class="">
    <slot>
      <!-- your content is injected here -->
    </slot>
  </main>
  <footer class="flex justify-center items-center fixed h-7 w-full bottom-0 text-sm bg-gray-800 text-zinc-300">
    Copyright {currentTime.getFullYear()} Ildar Smakov
  </footer>
</body>

</html>